/* Style SVG rect that are used in the chart area such as Bar Charts and Histogram. */
.quorum-chart-rect.focus, .quorum-chart-rect:focus {
	fill: #0000FF;
}
.quorum-chart-rect:hover {
	fill: #0000FF;
}

/* Style the SVG text elements that are used for titles, tick labels, etc. */
.quorum-chart-text.focus, .quorum-chart-text:focus {
	outline: 5px solid #0000FF;
}

/* Style the SVG Circles that are used in the chart area, such as the datapoints on a Scatter Plot or Line Chart. */
.quorum-chart-circle.focus, .quorum-chart-circle:focus {
	fill: #0000FF;
}

/* Style the SVG circles that are used in the chart area, such as the wedges in a Pie Chart */
.quorum-chart-wedge.focus, .quorum-chart-wedge:focus {
	fill: #0000FF;
}

/* Style the SVG rects that are used to show regions within the chart area, such as quadrants in a Scatter Plot. */
.quorum-chart-region.focus, .quorum-chart-region:focus {
	outline: 5px solid #0000FF;
	outline-offset: -5px;
}

.quorum-chart-region:focus > rect {
	stroke: #0000FF;
	stroke-width: 5px;
}

/* Style the SVG line's points that are used between line segments, such as on a Line Chart. */
.quorum-chart-line.focus > .quorum-chart-circle, .quorum-chart-line:focus > .quorum-chart-circle {
	fill: #0000FF;
}

/* Style the SVG line's line segments, such as on a Line Chart. */
.quorum-chart-line.focus > .quorum-chart-linesegment, .quorum-chart-line:focus > .quorum-chart-linesegment {
	stroke: #0000FF;
}
.quorum-chart-linesegment.focus, .quorum-chart-linesegment:focus {
	stroke: #0000FF;
}

/* Style the SVG rects that are used for main pieces of the chart, such as the background, background of the chart area, background of the axis panels. */
.quorum-chart-element.focus, .quorum-chart-element:focus {
	outline: 5px solid #0000FF;
	outline-offset: -5px;
	/*stroke: #000011;
	stroke-width: 5px;*/
}

.quorum-chart-legendentry.focus {
	outline: 5px solid #0000FF;
	outline-offset: -5px;
}

.quorum-chart-legendentry.focus > .quorum-chart-rect{
	fill: #0000FF;
}

.quorum-chart-bargroup:focus {
	outline: 0px solid #000000;
}
.quorum-chart-bar:focus {
	outline: 0px solid #000000;
}
.quorum-chart-plotgroup:focus {
	outline: 0px solid #000000;
}
.quorum-chart-plot:focus{
	outline: 0px solid #000000;
}
.quorum-chart-plotitem:focus{
	outline: 0px solid #000000;
}
.quorum-chart-scatter-series:focus {
	outline: 0px solid #000000;
}
.quorum-chart-point:focus {
	outline: 0px solid #000000;
}
.quorum-chart-linesegment:focus {
	outline: 0px solid #000000;
}
.quorum-chart-scatter-series:focus > g > .quorum-chart-circle {
	fill: #0000FF;
}
.quorum-chart-scatter-series:focus > g > .quorum-chart-linesegment {
	fill: #0000FF;
	stroke: #0000FF;
}
.quorum-chart-point-list:focus > .quorum-chart-circle {
	fill: #0000FF;
	r: 8.0;
}
.quorum-chart-point-list:focus > .quorum-chart-linesegment {
	fill: #0000FF;
	stroke: #0000FF;
}
.quorum-chart-selection-bracket.focus, .quorum-chart-selection-bracket:focus {
	fill: #0000FF;
	fill-opacity: 1.0;
}
.quorum-chart-selection-arrow.focus, .quorum-chart-selection-arrow:focus {
	fill: #0000FF;
	fill-opacity: 1.0;
}
.quorum-chart-selection-box.focus, .quorum-chart-selection-box:focus {
	outline: 5px solid #0000FF;
	outline-offset: -5px;
}

/* Style the div, tree, groups and treeitems so that they do not appear visually, but are still tabindexed. */
.quorum-svg-navigation, .quorum-chart-info, .quorum-chart-tree, .quorum-chart-treeitem, .quorum-chart-group {
    opacity: 0;
    z-index: -1;
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/* Hide charts. */
.quorum-hidden {
    opacity: 0;
    z-index: -1;
	position: absolute;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.quorum-wrapper {
    z-index: -1;
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: -1px;
	white-space: nowrap;
	border: 0;
}
